@charset "UTF-8";
/* CSS Document */
/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
html, body {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}

img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
	text-decoration: none;
	color: #000;
}


/*page
----------------------------------------------------*/

body {
	margin:0;
	padding:0;
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	font-size:14px;
	line-height: 1.7;
	color: #000;
}

img{
	max-width: 100%;
	height: auto !important;
}
strong {
    font-weight: bold;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
h1, h2, h3, h4, h5 {
	line-height: 1.3;
}
.wrapper {
	max-width: 640px;
	margin: 0 auto;
	padding: 0 3%;
}
.inside {
	max-width: 640px;
	margin: 0 auto;
}
.center {
	text-align: center;
}


#copyR {
	font-size: 11px;
	line-height: 16px;
	padding: 10px 0 0 0;
}
.bg_grau {
	background: #f2f2f2;
}
.logo {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
	padding: 2% 0;
	text-align: center;
}
.logo a img {
	display: inline-block;
}
.logo a {
	display: inline-block;
	max-width: 46%;
}
.main_img {
	position: relative;
}
.site_title {
	position: absolute;
	top: 9%;
	left: 3%;
	max-width: 57%;
}
.consultant {
	position: absolute;
	bottom: 10px;
	right: 46%;
	padding: 0 0 0 3%;
	font-size: 10px;
}
.title {
	font-size: 22px;
	padding: 0 0 20px 0;
	font-weight: bold;
	text-align:center;
	line-height:30px;
}
.bg_white {
    background: #fff;
    padding: 35px 3% 15px 3%;
}
.the_content {
	padding-top: 20px;
	padding-bottom: 10px;
}
.content_block {
	border-top: 3px solid #af8531;
	margin-bottom: 40px;
}
.content_block p {
	padding: 0 0 20px 0;
}
.end_title {
	padding: 70px 0 40px 0;
	font-weight: bold;
	color: #012a5b;
	text-align: center;
	line-height: 1.5;
}
.the_btn {
	text-align: center;
}
.foot_logo_img {
    display: inline-block;
    max-width: 50%;
	padding: 0 3% 0 0;
}
.foot_th_img {
    display: inline-block;
    max-width: 12%;
}
footer {
	padding: 15px 0 5px 0;
}


/* =Media queries
-------------------------------------------------------------- */

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 450px) {
	.title {
		font-size: 18px;
	}
	
	h1, h2, h3, h4, h5 {
	    line-height: 1.5;
	}
}
@media screen and (max-width: 320px) {
	.title {
		font-size: 18px;
	}
	.end_title {
		font-size: 16px;
	}
}

/* Clearfix
-----------------------------------------*/

.clear {
	zoom: 1;
}

.clear:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}