.title_cxo1 {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	letter-spacing: 1px;
	margin-right: 100px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #996600;
	font-weight: bold;
}
.title_cxo {

	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 5px;
	margin-top: 20px;
	margin-right: 80px;
	margin-left: 60px;
}
.naiyo_cxo {

	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	padding: 5px;
	margin-left: 60px;
	letter-spacing: 1px;
	line-height: 130%;
	margin-bottom: 10px;
	margin-right: 80px;
}
.naiyo_cxo1 {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	letter-spacing: 1px;
	margin-right: 100px;
	margin-bottom: 15px;
	margin-left: 10px;
	line-height: 1.3em;
	padding-top: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	padding-bottom: 5px;
}
.images_case {
	margin-bottom: 30px;
	margin-left: 10px;
}
.subtitle {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	font-weight: bold;
	color: #996600;
	margin-right: 80px;
	margin-left: 60px;
}
.title_bar {
	font-size: 14px;
	font-weight: bold;
	margin-left: 60px;
	border-left-width: 4px;
	border-left-style: solid;
	padding-left: 5px;
	margin-top: 15px;
}
.footer1Copy {
	float: left;
	margin-left: auto;
	padding-bottom: 0px;
	padding-left: 10px;
	border-left: 1px solid #000000;
	padding-right: 10px;
	font-weight: bold;
	margin-top: 30px;
	font-size: 12px;
	word-spacing: 1px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}
.footer0Copy {
	margin-left: 40px;
	float: left;
	padding-right: 5px;
	font-weight: bold;
	margin-top: 30px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	word-spacing: 1px;
}
.title_bar1 {
	font-size: 12px;
	font-weight: bold;
	border-left-width: 4px;
	border-left-style: solid;
	padding-left: 5px;
	margin-left: 0px;
}
