@charset "UTF-8";
/*  Layout
-----------------------------------------------------------------------------*/
/* Body */
html.toolbar {
	padding-top: 50px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	background: #f0f0f0;
}

body {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	color: #353535;
	margin: 0;
	line-height: 1.4em;
	min-width: 600px;
	position:relative;
}

.txt_blue {
	color: #00afff;
}

/* Wrapper 
--------------------------------------*/
#wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	
}


/* Header 
--------------------------------------*/
#admin_bar {
	background-color: #353535;
    color: #fff;
    height: 50px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
} 
#admin_bar a {
	color: #fff;
}
#admin_bar a:hover {
	color: #00afff;
	text-decoration: none;
}
#logout { 
	display: block; 
	height: 24px;
	background: url(../img/main/logout_btn.png) no-repeat 0 0; 
	padding: 5px 0 0 35px;
}
#logout:hover { 
	background-position: 0 -29px; 
}

#top_right {
	margin: 10px 25px 0 0;
}
#howdy {
	padding: 3px 15px 0 0;
}
#site_name {
	margin: 13px 0 0 25px;
}

/*Admin Menu
------------------------------------*/

#admin_menu_back {
	position: absolute;
	background: #3f3f3f;
	top: 0;
	bottom: 0;
	z-index: -1;
	width: 250px;
	left: 0;
}
#admin_menu_content {
	width: 200px;
	color: #fff;
	position: relative;
	padding: 25px;
	float: left;
}
#admin_menu_content a {
	color: #fff;
	font-size: 12px;
}
#admin_menu_content a:hover {
	text-decoration: none;
	color: #00AFFF;
}
#dashboard_btn .menu_title {
	color: #a3a3a3;
	background: url(../img/main/dashboard_menu_icon.png) no-repeat 0 0;
}
.menu_title {
	line-height: 18px;
}
.menu_title:hover {
	text-decoration: none;
}

.menu_title span {
	margin: 0 0 0 25px;
	font-size: 18px;
	text-transform: uppercase;
}

#post_btn .menu_title {
	color: #c54343;
	background: url(../img/main/post_icon.png) no-repeat 0 0;
}

#category_btn .menu_title {
	color: #53d769;
	background: url(../img/main/category_icon.png) no-repeat 0 0;
}
 .post_icon{
	color:#c54343 !important;
	}
 .category_icon{
	color:#53d769 !important;
	}
#media_btn .menu_title {
	color: #00AFFF;
	background: url(../img/main/media_icon.png) no-repeat 0 0;
}
#user_btn .menu_title {
	color: #00AFFF;
	background: url(../img/main/user_icon.png) no-repeat 0 0;
}

#admin_menu_content ul {
	padding: 15px 0 0 25px;
}
.menu_block {
	padding: 0 0 10px 0;
}

/* content 
-----------------------------------------*/
#page_title {
	height: 35px;
}
#content {
	margin: 0 0 0 250px;
	padding: 25px;
}

.title_icon {
	float: left;
}
.content_title {
	float: left;
	font-size: 22px;
	padding: 5px 0 0 10px;
}
.welcome {
	font-size: 22px;
	padding: 15px 0 0 0;
}

.content_bg_icon {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

#ie7 #post_body_content, #ie7 #post_body {
	zoom: 100%;
	display: block;
}
#ie7 #content_right_bar {
	padding-left: 25px; 
}
.ed_button {
	padding: 0 7px;
}
#ie7 #post_title {
	width: 98%;
}
#ie7 .post_title {
	width: 98%;
}
/* login 
-----------------------------------------*/

input[type="text"], input[type="password"], textarea {
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
}
input[type="checkbox"], input[type="radio"] {
	vertical-align: bottom;
}
#login_title {
	color: #00AFFF;
}

#content_login {
	width: 311px;
	margin: 0 auto;
	padding-top: 65px
}
#page_title_login {
	background: #3f3f3f;
	padding: 9px;
}

#content_login form {
	background: #fff;
	margin: 10px 0 0 0;
	height: 251px;
	padding: 20px;
}

#wrap_login #footer {
	position: relative;
	width: 311px;
	margin: -35px auto 0;
}
#wrap_login #footer p {
	padding: 0 20px 0 0;
	text-align: right;
	color: #353535;
}
#wrap_login #footer #copyR a {
	color: #353535;
}

#loginform .input {
	border: none;
	background: #f0f0f0;
	width: 100%;
	font-size: 18px;
	padding: 5px;
	height: 40px;
	margin: 5px 0 20px 0;
}

#submit {
	background: #3f3f3f;
	border: none;
	color: #fff;
	width: 90px;
	height: 33px;
	cursor: pointer;
	float: right;
}
#submit:hover {
	background: #00AFFF;
}

#loginform label {
	font-size: 18px;
}
.forgetmenot label {
	font-size: 14px !important;
}


/*Post page
------------------------------------------*/

#content_body {
	width: 100%;
}
#content_right_bar {
	width: 230px;
	margin: -17px -255px 0 0;
}

#post_body_content {
	width: 100%;
	float: left;
	
}
#post_tabs {
	width: 100%;
}
ul.tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

ul.tabs li {
	float: right;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	background: #dbdbdb;
	overflow: hidden;
	position: relative;
}

ul.tabs li a {
	text-decoration: none;
	display: block;
	font-size:14px;
	padding: 0 10px;
	outline: none;
}

ul.tabs li a:hover {
	background: #ccc;
}	

ul.tabs li.active, ul.tabs li.active a:hover  {
	background: #3f3f3f;
	color: #00AFFF;
}
ul.tabs li.active, ul.tabs li.active a  {
	color: #00AFFF;
}

.tab_container {
	clear: both;
	float: left; 
	width: 100%;
	background: #fff;
}
.title_txt{
	font-size:16px;
	font-weight:bold;
	color:#7D7D7D;
}
#post_container{
	margin-top:10px;
	}
.editor-area {
    -moz-box-sizing: border-box;
    border: 0 none;
    display: block;
    line-height: 150%;
    margin: 1px 0 0;
    outline: 0 none;
    padding: 10px;
    resize: vertical;
}
.editor-container textarea.editor-area {
	width: 100%;
}

#post_body {
	margin-right: 255px;
	margin-top:30px;
}
#ed_toolbar {
	background: #3f3f3f;
	padding: 7px;
}
.ed_button {
	background: #f0f0f0;
	border: none;
	height: 23px;
}

#post_title{
	width: 100%;
	border: none;
	font-size: 17px;
	padding: 3px;
	margin: 10px 0 5px 0;
}
.post_title{
	width: 100%;
	border: none;
	font-size: 17px;
	padding: 3px;
	margin: 10px 0 5px 0;
}
#datepicker2,#datepicker1 {
	width: 100%;
	border: none;
	font-size: 17px;
	padding: 3px;
	margin: 10px 0 5px 0;
}
.check_category_consutant{
	float:left;
	width:31%;
	margin:1%;
	}

#list_box{
	width: 30%;
	border: none;
	font-size: 14px;
	padding: 5px;
	margin: 10px 0 10px 0;

	}
.post_edit_block {
	padding: 0 0 20px 0;
}

#upload_btn {
	float: left;
}
#upload_btn span {
	color: #353535;
	padding: 0 0 0 5px;
}
.postbox .inside {
	background: #fff;
	padding: 10px 10px 15px 10px;
	border-radius: 4px;
	-moz-border-radius: 2px; 
	-webkit-border-radius:2px; 
	
	-moz-box-shadow: 1px 1px 2px 0 #E4EBEF;
	-webkit-box-shadow: 1px 1px 2px 0 #E4EBEF;

}
#category-adder {
	padding: 20px 0 0 0;
}
.hndle {
	font-size: 15px;
	line-height: 32px;
	color:#40506F;
	font-weight:bold;
}
.add-toggle {
	font-weight: normal;
	color: #00AFFF;
	width: 100%;
}

#publish label, #publish input {
	vertical-align: baseline;
}

.timestamp-wrap, .timestamp-wrap select, .timestamp-wrap input {
	font-size: 12px;
}

.save_btn a {
	color: #348ffc;
	background: #353535;
	padding: 3px 10px 3px 30px;
	background: url(../img/main/plus_icon.png) no-repeat 5px 3px #FFF;
}
.button_click{
	margin-top:10px;
	}
.save_btn a:hover {
	text-decoration: none;
}
.save_btn {
	float: right;
	margin: 2px 0 0 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.inside select, .inside input {
	background: #f0f0f0;
	border: none;
	padding: 5px 0 5px 3px;
}
#jj, #hh, #mn {
	width: 25px;
}
#aa {
	width: 40px;
}
.curtime {
	padding: 0 0 10px 0;
}
.timestamp-wrap {
	width: 220px;
}
#status, #visibility {
	padding: 0 0 15px 0;
}
.postbox {
	padding: 0 0 20px 0;
}

#input_tag {
	float: left;
}
.newtag {
	width: 135px;
	margin: 2px 0 0 0;
}
#tag h4 {
	padding: 5px 0 0 0;
}
#featured_image h4 {
	font-size: 16px;
}

/* Categories 
-----------------------------------------*/

#col-container {
    margin: 0;
    padding: 20px 0 0 0;
}
#col-left, #col-right {
	margin: 0;
    padding: 0;
}
#col-right {
    width: 65%;
	float: right;
}
#col-left {
    width: 35%;
}

.col-wrap {
    padding: 0 0 0 25px;
}

.cat_input {
    border: medium none;
    margin: 0;
    padding: 7px;
    width: 100%;
}

.widefat .check-column {
    width: 2.2em;
}

.widefat {
    clear: both;
    margin: 0;
    width: 100%;
}

.fixed .column-slug {
    width: 25%;
}
.fixed .column-posts {
    width: 10%;
}
.fixed .detail_lag {
    width: 60% !important;
}
.widefat .num, .column-comments, .column-links, .column-posts {
    text-align: center;
}
.widefat th {
    line-height: 1.3em;
    text-align: left;
}
.widefat th a {
	color: #00AFFF;
}

.widefat td {
    padding: 15px 0;
	font-size: 12px;
}

#addtag select {
    background: #fff;
    border: medium none;
    padding: 5px 3px;
	width: 100%;
}
.form-wrap label {
    display: block;
    padding: 2px;
}

.add_cat_btn a {
    background: url("../img/main/plus_icon.png") no-repeat scroll 3px 4px #353535;
    color: #FFFFFF;
    padding: 5px 10px 5px 30px;
}
.add_cat_btn {
	margin: 5px 0 0 0;
	position:relative;
	width:100%;
}
.add_cat_btn a.download_csv_question{
	display:block;
	position:absolute;
	right:0;
	bottom:0;
}
.tablenav-pages {
	background: #fff;
	float: right;
	margin: 30px -20px 0 0;
	padding: 10px;
}
.tablenav-pages a {
	padding: 0 5px;
}
.widefat td, .widefat th {
    border-bottom-color: #f0f0f0;
    border-top: #FFFFFF;
}
.widefat td, .widefat th {
    border-style: solid;
    border-width: 1px 0;
}
thead th {
	padding: 0 0 15px 0;
}
.last-child th, .last-child td{
	border: none;
}

#addtag .form-field {
	padding: 0 0 15px 0;
}


#search_post_form .search_btn {
	float: left;
	margin: 2px 0 0 10px;
}
#search_post_form .search_btn a {
	color: #fff;
	background: #353535;
	padding: 3px 15px;
	display: inline-block;
}
#search_post_form .search_btn a:hover {
	background: #00AFFF;
	text-decoration: none;
}
#search_post_form {
	float: right;
	padding: 0 0 10px 0;
}

.posts_tbl {
    margin: 0;
    width: 100%;
}

#posts_list {
	float: left;
	width: 100%;
}

#search_post {
	border: none;
	width: 145px;
	padding: 5px;
}

.posts_tbl td {
	padding: 10px 0;
}

.row-actions {
    padding: 2px 0 0;
    visibility: hidden;
}
tr:hover .row-actions, div.comment-item:hover .row-actions {
    visibility: visible;
}
.posts_tbl tbody tr:hover td, .posts_tbl tbody tr:hover th {
    border-style: solid;
    border-width: 1px 0;
}
.posts_tbl td, .posts_tbl th {
    border-bottom-color: #F0F0F0;
    border-top-color: #F0F0F0;
	
}
.posts_tbl thead td, .posts_tbl thead th {
	border-style: solid;
    border-width: 1px 0;
	border-top: none;
}

.posts_tbl .check-column {
    padding: 10px 0 0;
    vertical-align: middle;
    width: 2.2em;
}
.posts_tbl .check-column {
    width: 2.2em;
}
.posts_tbl th a {
    color: #00AFFF;
}
.posts_tbl th {
    line-height: 1.3em;
    text-align: left;
}
th.sortable a, th.sorted a {
    display: block;
    overflow: hidden;
    padding: 10px 0 0 0;
}
.row-actions, .row-actions a {
	color: #00AFFF;
}

#posts-filter {
	padding: 20px;
	background: #fff;
}

.addcode_tbl table.widefat {
	clear: none;
}

.addcode_tbl .fixed .column-ed {
	width: 15%;
}
#addcode_form {
	width: 100%;
}
#addcode_form label {
	display: block;
	padding: 0 0 5px 0;
}
.form-field {
	padding: 0 0 20px 0;
}
#addcode_form input {
	width: 275px;
}
#add_code_btn {
	float: left;
	margin: 0 0 0 10px;
}
.code_input {
	float: left;
}
#add_code_input {
	height: 30px;
}
.delete_btn {
	color: #F00 !important;
}
.enable {
	color: #00AFFF;
}
.addcode_tbl .widefat td, .widefat th {
	border: none;
}
.addcode_tbl thead th {
	border-bottom: 1px solid #f0f0f0;
}
.addcode_tbl .column-use {
	width: 100px;
}
.addcode_tbl .column-no {
	width: 50px;
}

.addcode_tbl .column-code {
	width: 40%;
}
#cate_leftmenu{
	margin:15px 0px 5px 25px;
	}
#post_leftmenu{
	margin:15px 0px 5px 25px;
	}
.interview_index .left_p{
	float:left;
	max-width: 167px;
	}
.interview_index .right_p{
	float:right;
	font-size: 0;  
	background:url('../img/btn/Safari_Back.png') no-repeat top left; 
	display: inline-block; 
	height: 13px;
	width:7px;
	overflow: hidden; 
	cursor: pointer;
	margin-top:3px;
	}
.current .right_p{	
	 
	background:url('../img/btn/Safari_Back_color.png') no-repeat top left ; 
	
}
.current a{
	color:#00AFFF !important;
	font-weight:bold !important;
	}
.interview_index{
	margin:10px 0 10px 0;
	}
.interview_index:hover .right_p{	
	background:url('../img/btn/Safari_Back_color.png') no-repeat top left; 
	/*float:right;
	
	display: inline-block; 
	height: 13px;
	width:7px;
	overflow: hidden; 
	cursor: pointer;
	margin-top:3px;*/
	}
.interview_index:hover {	
	color:#00AFFF !important;
	font-weight:bold !important;
	}

#category_btn{
	margin-top:0px;
	}
/* Footer 
-----------------------------------------*/
#footer {
	position: absolute;
	bottom: 0;
	left: 0;
}

#footer #copyR {
	color: #a3a3a3;
	padding: 25px;
}
#footer #copyR a {
	color: #a3a3a3;
}

div#csv_upload {

  /* IMPORTANT STUFF */
  display:block;
  overflow: hidden;
  position: relative;   
  float:left;
  /* SOME STYLING */
  width:  14%;
  height: 26px;
  line-height:26px;
  border: 1px solid #EBEBEB;
  font-weight: bold;
  text-align:center;
  color:#FFF;
  z-index:1999;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWU1Nzk5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjN2NiOGU3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg,  rgba(30,87,153,1) 0%, rgba(124,184,231,1) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(99%,rgba(124,184,231,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
float:right;
margin-top:9px;
}
.file_csv_up
{
	float:left;
	width:84%;
}
#csv_upload_henter_eye_company{
	width: 100%;
	border: none;
	font-size: 17px;
	padding: 3px;
	margin: 10px 0 5px 0;
	}
#csv_upload_interview{
	width: 100%;
	border: none;
	font-size: 17px;
	padding: 3px;
	margin: 10px 0 5px 0;
	}
#csv_job_info{
	width: 100%;
	border: none;
	font-size: 17px;
	padding: 3px;
	margin: 10px 0 5px 0;
	}
input#csv {
    cursor: pointer;
    font-size: 100px;
    height: 26px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
input#csv_info{
    cursor: pointer;
    font-size: 100px;
    height: 26px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

div#mybutton {

  /* IMPORTANT STUFF */
  display:block;
  overflow: hidden;
  position: relative;   
  float:left;
  /* SOME STYLING */
  width:  30%;
  height: 26px;
  line-height:26px;
  border: 1px solid #EBEBEB;
  font-weight: bold;
  text-align:center;
  color:#FFF;
  z-index:1999;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWU1Nzk5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjN2NiOGU3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg,  rgba(30,87,153,1) 0%, rgba(124,184,231,1) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(99%,rgba(124,184,231,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
float:right;
}
.text_input_file
{
	float:left;
	width:68%;
}
input#thumbnail {
    cursor: pointer;
    font-size: 100px;
    height: 26px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
input#thumbnail_all {
    cursor: pointer;
    font-size: 100px;
    height: 26px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
input#thumbnail1 {
    cursor: pointer;
    font-size: 100px;
    height: 26px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
input#thumbnail2 {
    cursor: pointer;
    font-size: 100px;
    height: 26px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.about_company{
	margin:0px 0px 25px 0px;
}
.about_company hr{
	color:#CDCDCD;
	
	}
.about_company p{
	padding-top:10px;
	font-size:27px;
	color:#919191;
	}
.load_ajax{
	width:100%;
	height:100%;
	position:absolute;
	filter: alpha(opacity = 50);
	background-color: #000;
	opacity: 0.5;
	top:0;
	left:0;
	overflow:hidden;
	overflow-x:hidden;
	overflow-y:hidden;
	z-index:99999;
	}
.loader {
	background:url(../img/ajax-loader.gif) no-repeat 0 0 ;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 5%;
	left: 50%;
}
.tablenav-pages li {
	float:left;
	padding:0 5px;
	font-size:16px;
	
	}
.save_btn_p{
	float:right;
	}
.tablenav-pages li a{
	color:#093 !important;
	}
#save_btn
{
	padding: 7px 14px 7px 23px; 
	margin: 0px;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
	display: inline-block;
	white-space: nowrap;
		position:relative;
	outline: none;
	overflow: visible;
	cursor: pointer;
	border-radius: 2px;
	-moz-border-radius: 2px; 
	-webkit-border-radius:2px; 
	color:#157efb;
	-moz-box-shadow: 1px 1px 2px 0 #E4EBEF;
	-webkit-box-shadow: 1px 1px 2px 0 #E4EBEF;
	background:url(../img/main/plus_icon.png) no-repeat left center #fff;
}
#update_btn
{
	padding: 7px 14px 7px 23px; 
	margin: 0px;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
	display: inline-block;
	white-space: nowrap;
	line-height:1em;
	position:relative;
	outline: none;
	overflow: visible;
	cursor: pointer;
	border-radius: 4px;
	-moz-border-radius: 2px; 
	-webkit-border-radius:2px; 
	color:#157efb;
	-moz-box-shadow: 1px 1px 2px 0 #E4EBEF;
	-webkit-box-shadow: 1px 1px 2px 0 #E4EBEF;
	background:url(../img/main/plus_icon.png) no-repeat left center #fff;
}
.radio_category
{
	margin-top:-2px;
	height:20px; 
	line-height:20px;
}
.option_select_consul{
	float:left;
	width:30%;
	}
.option_select_consul p#loadding{
	width:100%;
	margin:0 auto;
	}
.listbox_cm{
	height:25px;
	line-height:25px;
	width:100%;
	margin:10px 0px 10px 0px;
	}
.listbox_cm option{
	height:25px;
	line-height:25px;
	border-bottom:1px #F7F7F7 dashed;
	}
#load_option{
	float:right;
	
	border:1px #AEAEAE dotted;
	width:64%;
	

	}
#load_option .thumnail_category{
	float:left;
	max-width:20%;
	}
#load_option .title_category{
	float:left;
	padding:0px 0px 2px 2%;
	max-width:73%;
	}
#load_option .close_category{
	float:right;
	
	}
#load_option .title_category h2{
	margin:5px 0;
	font-size:13px;
	font-weight:bold;
	}
#load_option .title_category p{
	margin:5px 0;
	font-size:12px;
	font-weight:normal;
	color:#9F9F9F;
	}
.thumnail_category img{
	max-width:100%;
	}
.GCDF_invail{
	margin:10px 0;
	}
.red{
	color:#F00;
	}
.option_select{
	height:25px;
	line-height:25px;
	width:100%;
	}
.icon_checkx{
	float:left;
	margin:1%;
	width:30%;
	}
.caption_s{
	width:30%;
	float:left;
	margin:1%;
	}
.title_s{
	width:60%;
	margin:1%;
	float:right;
	}
.cation_option{
	width:100%;
	height:25px;
	line-height:25px;
	margin-top:10px;
	}
.option_select
	{
	width:50%;
	height:25px;
	line-height:25px;
	margin-top:10px;
	}
.option_select option{
	border-bottom:1px #F8F5F3 dashed;
	height:25px;
	line-height:25px;
	}
.cation_option option{
	border-bottom:1px #F8F5F3 dashed;
	height:25px;
	line-height:25px;
	}
.l {
	float:left;
	}
.r {
	float:right;
	}
.w70 {
	width:69%;
	}
.w30 {
	width:29%;
	}
.pd{
	margin:10px 0;
	}
#message{
	background:#DFF2BF;
	
	}
.success{
	border:1px #F7F7F7 solid;
	color:#4F8A10;
	margin:10px 0;
	padding:10px 0px 10px 50px;
	font-weight:bold;
	background:url('../img/success.gif') no-repeat 10px center;
	
	}
#percent{
	display:none;
	}
.error{
	background:#DFF2BF;
	color:#F00 !important;
	}
.note{
	font-weight:bold;
	color:#F00;
	}
.w49{
	padding:1%;
	width:48%;
	overflow:hidden;
	background:#FFF;
	}
.w100{
	padding:1%;
	width:98%;
	
	background:#FFF;
	
	}
	
	
	
	
	
	
.ui-widget-daredevel-checkboxTree li {
    list-style-type: none;
    position: relative;
}

.ui-widget-daredevel-checkboxTree li span {
    cursor: default;
    position: absolute;
    top: 1px;
    left: -16px;
}
/* tree checkbox, height/width needed b/c of IE spacing weirdly, breaks lines */
input.l-tcb {
	height:13px;
	width:13px;
	margin-left:2px
}


/* fix scrolling issue with treeobj in a contentpanel 
 * and loss of icons when a node is expanded
*/
.ext-ie .x-tree {
	position:static !important;
}
#tree ul li ul {
	padding: 5px 0 0 20px;
}
#tree {
	margin: 0 0 0 20px;
	border: none;
}
#tree li {
	padding: 0 0 10px 0;
}

li.collapsed label{
	font-weight:bold;
	color:#090;
	}
#media_leftmenu {
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 0;
    margin-top: 15px;
}
.media_index {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}
.body_form_inc{
	background:#FFF;
	height:600px;
	width:100%;
	overflow:scroll;
	}
.tilte_media h1 {
	margin:20px 0;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	}
.form_m {
	padding:0 0 0 10%;
	width:90%;
	}
.form_m li{
	float:left;
	height:40px;
	line-height:40px;
	padding:0 10px;
	border:1px #F4F4F4 solid;
	}
.form_m li a{
	color:#090;
	
	}

.txt_m{
	height:25px;
	border:1px #EEE solid;
	width:60%;
	}
.validateTips{
	margin:20px 0;
	}
.body_load{
	width:100%;
	border-top:1px #CCC solid;
	margin:10px 0;
	}
#load_inc{
	height:100%;
	}
.group_foder{
	margin:20px auto 20px auto;
	width:90%;
	border-radius: 2px;
	box-shadow: 3px 5px 5px 1px #CCC;
	-moz-box-shadow: 3px 5px 5px 1px #CCC;
	-webkit-box-shadow: 3px 5px 5px 1px #CCC;
}
.group_foder .icon_foder{
	
	}
.group_foder .a_foder{
	
	}
.foder_box{
	max-width:18%;
	float:left;
	margin:1%;
	border:1px #FFE8E8 solid;
	background:#F8F8F8;
	}
.foder_box img{
	width:100px;
	
	}
.set_del_img img{
	border:1px #EFEFEF solid !important;
	}
.close_dele{
	position: absolute;
	top: -7px;
	right: -7px;
	}
.close_dele a.close_img_del{
	background:url('../img/1379593090_close.png') top center no-repeat;
	font-size:0;
	text-indent:-9999;
	cursor: pointer;
	width:16px;
	height:16px;
	} 
.set_del_img {
	position: relative;
}
.zui-upload{
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top,  #efefef 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efefef 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efefef 0%,#e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efefef 0%,#e3e3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #efefef 0%,#e3e3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
	border: 1px solid #C5C5C5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #555;
	display: inline-block;
	cursor: pointer;
	width: 100px;
	height: 30px;
	position: relative;
}
.zui-upload:hover,
.zui-upload-hover{
	background: #e3e3e3; /* Old browsers */
	background: -moz-linear-gradient(top,  #e3e3e3 0%, #ddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#ddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e3e3e3 0%,#ddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e3e3e3 0%,#ddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e3e3e3 0%,#ddd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e3e3e3 0%,#ddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#ddd',GradientType=0 ); /* IE6-9 */
}
.zui-upload-form{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.zui-upload-file{
	display: block;
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: 9999;
}
.zui-upload-iframe{
	border: none;
	height: 0;
	width: 0;
}
.zui-upload-label{
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font: normal 12px Arial, sans-serif;
	text-align: center;
	line-height: 30px;
}
.postbox {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F8F8F8;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.widget, #widget-list .widget-top, .postbox, #titlediv, #poststuff .postarea, .stuffbox {
    border-bottom-color: #DFDFDF;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #DFDFDF;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #DFDFDF;
    border-top-color: #DFDFDF;
    box-shadow: 0 1px 0 #FFFFFF inset;
}
.postbox {
    min-width: 170px;
    position: relative;
}
#postimagediv a#set-post-thumbnail1,#postimagediv a#set-post-thumbnail,#postimagediv a#set-post-thumbnail2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.1);
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(0, 0, 0, 0.1);
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
    padding-bottom: 11px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 11px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    width: 100%;
	font-weight:bold;
}
.txt_feat{
	width:100%;
	height:25px;
	background:#FFF !important;
	line-height:25px;
	}
.handlediv{
	margin:10px 0;
	}
#dialog_foder{
	overflow:scroll;
	}
.set_fi img {
	width:100%;
	max-width:150px;
	}
.lack{
	margin:10px 0px 30px 0px;
	}
.image_load_fo{
	width:100%;
	text-align:center;
	}
.image_load_fo img{
	max-width:170px !important;
	}
a.set_fied:hover img{
	opacity: 0.7;
	}
.lack {
	background: #1e5799; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-8 */
	height:40px;
	line-height:40px;
	
	}
.lack a	{
	margin:0 0 0 20px;
	color:#900 !important;
	font-weight:bold;
	}
.hasDatepicker{
	width:100%;
	border:0;
	height:25px;
	}
.to_show_date{
	cursor:pointer;
	margin:10px 0;
	color:#F00;
	text-decoration:underlinel;
	font-weight:bold;
	}
.group_date_fix{
	margin:10px 0;
	border:1px #F7F7F7 dashed;
	}
tr.draft_bg	{
	background:#F0F0F0;
	}
.row-actions .trash {
	display: none;
}

.container_content_interview{
		display:block;
		padding:20px 10px;
		
	}
	.container_content_interview input#post_title,.container_content_interview textarea#post_title{
		margin:0 0 10px 0 !important;
	}
	.group_item_interview{
		display:block;
		padding:10px 20px;
	}
	.group_item_interview .title_txt{
		font-style:oblique;
	}
	.add_link .add{
		color:#FFF !important;
		font-size:13px;
		font-weight:bold;
		cursor:pointer;
		
		
		display:block;
  overflow: hidden;
  position: relative;   
  
  /* SOME STYLING */
 padding:0px 10px;
  line-height:26px;
  border: 1px solid #EBEBEB;
  font-weight: bold;
  text-align:center;
  color:#FFF;
  z-index:1999;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWU1Nzk5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjN2NiOGU3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg,  rgba(30,87,153,1) 0%, rgba(124,184,231,1) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(99%,rgba(124,184,231,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

margin-top:9px;
}
.item_roundtable{
	display:block;
	padding:10px 0;
}	
#pdf_upload_file{
	border: medium none;
    font-size: 17px;
    margin: 10px 0 5px;
    padding: 3px;
    width: 100%;
	border:1px solid #CCC;
}


input#tn_thumbnail1,input#tn_thumbnail2,input#tn_thumbnail3,input#tn_thumbnail4,input#tn_thumbnail5,input#tn_thumbnail6 {
    cursor: pointer;
    font-size: 100px;
    height: 26px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}



.group_item_interview .show_img_content{
	cursor:pointer;
	padding:5px 0;
	display:block;
	color:#030;
	text-transform:uppercase;
	font-weight:bold;
	text-align:left !important;
	
}
#csv_upload input.comment_up{
	cursor: pointer;
    font-size: 100px;
    height: 26px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
#text_input_file input.comment_alt{  
	display:block;
	float:left;
	width:33%;
	border: medium none;
    font-size: 15px;
    margin: 10px 2% 5px 0px;
    padding: 3px;
	border:1px solid #ccc;
}
#text_input_file input.comment_src{
	display:block;
	float:right;
	width:65%;
	border: medium none;
    font-size: 15px;
    margin: 10px 0 5px;
    padding: 3px;
	border:1px solid #ccc;
}



#csv_upload input.content_up{
	cursor: pointer;
    font-size: 100px;
    height: 26px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
#text_input_file input.txt_alt_img{  
	display:block;
	float:left;
	width:32%;
	border: medium none;
    font-size: 15px;
    margin: 10px 2% 5px 0px;
    padding: 3px;
	border:1px solid #ccc;
}
#text_input_file select.content_postion_img{
	display:block;
	float:left;
	width:12%;
	border: medium none;
    font-size: 15px;
    margin: 10px 2% 5px 0px;
    padding: 3px;
	border:1px solid #ccc;
}
#text_input_file input.txt_src_img{
	display:block;
	float:right;
	width:52%;
	border: medium none;
    font-size: 15px;
    margin: 10px 0 5px;
    padding: 3px;
	border:1px solid #ccc;
}

#csv_upload input.up{
	cursor: pointer;
    font-size: 100px;
    height: 26px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
#text_input_file input.alt{
	display:block;
	float:left;
	width:35%;
	border: medium none;
    font-size: 15px;
    margin: 10px 0 5px;
    padding: 3px;
	border:1px solid #ccc;
}
#text_input_file input.src{
	display:block;
	float:right;
	width:62%;
	border: medium none;
    font-size: 15px;
    margin: 10px 0 5px;
    padding: 3px;
	border:1px solid #ccc;
}
.container_consultant_turnning .item_roundtable{
	margin:10px 0 10px 0;
	border-bottom:1px dashed #030;
}
.container_consultant_turnning .add_part_roundtable{
	display:block;
	padding:0 0 30px 0;
}	
	




	
/* Clearfix
-----------------------------------------*/

.clear {
	zoom: 1;
}

.clear:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}